<div class="footer-middle">
  <div class="container">
    <div class="row">
      {% for item in site.data.socials %}
      <div class="col-lg-2 col-sm-3 col-6">
        <a href="{{ item.link }}" class="fa fa-{{ item.name | downcase }}"> {{ item.name }}</a>
      </div>
      {% endfor %}
      <div class="col-lg-2 col-md-12">
        <div class="float-right">
          <i class="fa fa-arrow-up"></i> <a href='#'>back to top</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 copy">
        <p class="text-center">&copy; 2020 - Darren Brien</p>
      </div>
    </div>
  </div>
</div>
