<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="navbar-brand">
      <p>{{ "Darren K. Brien" | downcase }}</p>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          {% if item.icon %}
          <div class="row">
            <a href="{{ item.link }}" class="nav-link fa fa-{{ item.name | downcase }} fa-2x" target="_blank"></a>
            <a href="{{ item.link }}" class="nav-link" target="_blank"> {{ item.name }}</a>
          </div>
          {% else %}
          <a href="{{ item.link }}" class="nav-link">{{ item.name }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
